p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
    margin-top: 5px;
}

.input1{
    display: block;
    margin-bottom: 4px;
    background-color: rgb(225, 222, 222);
    color: rgb(30, 29, 29);
    border: none;
    padding: 5px 90px 5px 5px;
}

.input2{
    display: block;
    margin-bottom: 25px;
    background-color: rgb(225, 222, 222);
    color: rgb(30, 29, 29);
    border: none;
    padding: 5px 90px 5px 5px;
}

.req-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 8px 12px 8px 12px;
    margin-right: 8px;
}

.sch-btn{
    background-color: rgb(225, 222, 222);
    color: rgb(30, 29, 29);
    border: none;
    padding: 8px 12px 8px 12px;
}